.hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('contact.jpg');
    background-size:cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-content h1{

    margin-bottom:1rem;
    font-size: 100px;
}

.hero-content p{

    margin-bottom: 2rem;
    max-width: 600px;
    font-size: 20px;
    text-align:right  ;
    margin-left:auto;
}

.btn{
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    margin:0 0.5rem;
}

.btn:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 20px rgba(0,0,0,0.6);
    border-radius:10px;
    transition: all;
}

.btn-primary {background-color : #ff5722; color: white;}
.btn-secondary{ background-color :transparent; border:2px solid white; color:white;}

.container{
    color:white;
    border-radius:50px;
    margin-left: 50px;
    padding:20px;
    background-color: orange;
    height: 800px;
    width:500px;
    margin-top:40px;
}

.container h1{
    text-align:center;
    margin-left: -40px;
}  

.inquiry-box{
    background-color:#ff5722;
    border-radius: 50px;
    height: 800px;
    width:550px;
    margin-top: -800px;
    margin-left:auto;
    margin-right:40px;
    border-style:bold;
    padding:20px;
}

textarea{
    height: 200px;
    width:500px;
    text-align:left;
    margin-left:15px;
    border-radius:20px;
    padding:10px;

}

label{
    font-size:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing:1px ;
    margin-left:10px;
    color:white;
   
}

input{
    width:350px;
    padding: 20px;
    height: 2px;
    margin-left:40px;
    border-radius: 20px;
    
}

h2{
    text-align:center;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    font-size:50px;
    color:white;
}

button{
    margin-top: 50px;
    margin-left:225px;
    color:yellow;
    background-color: transparent;  
    border-radius: 20px;
    height:30px;
    width: 80px;
}


button:hover{
    background-color: blue;
    border-radius:5px;
}


#par1{
    text-align:left;
    margin-left:270px;
}