.hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('med.jpg');
    background-size:cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-content h1{
    margin-bottom:1rem;
    font-size: 100px;
}

.hero-content p{
    font-size: 1.25rem;
    margin-bottom: 2rem;
    max-width: 600px;
    font-size: 20px;
    text-align:center   ;
    margin-left: 150px;
}

.btn{
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    margin:0 0.5rem;
}

.btn:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 20px rgba(0,0,0,0.6);
    border-radius:10px;
}

.btn-primary {background-color : #ff5722; color: white;}
.btn-secondary{ background-color :transparent; border:2px solid white; color:white;}

footer{
    text-align: center;
    margin-top: -30px;
    color : whitesmoke;
}